<h1>Wikinimous</h1>
<h3>All articles</h3>
<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>
<a href="/articles/new">Add article</a>
